/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#testoAlternato {
    border: solid 0.5px black;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

span.parole i {
    color: darkblue;
    position: absolute;
}



i:nth-of-type(1){
    animation: fadeOut 5s linear 1 both;
}
i:nth-of-type(2){
    animation: fadeOut 5s linear 3s 1 both;
}
i:nth-of-type(3){
    animation: fadeOut 5s linear 1 6s both;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    30% {
        opacity: 1;
        transform: translateY(0px);
    }
    70% {
        opacity: 1;
        transform: translateY(0px) 
    }
    100% {
        opacity: 0;
        transform: translateY(-200px);
    }
}




