main#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#postit-section{
    width: 80em;
    height: 60vh;
    background-color: #666;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 1em;
}

.post-dx {
    transform: rotate(-8deg);
}

.post-sx {
    transform: rotate(8deg);
}

.postit{
    width: 21%;
    height: 36%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px -9px 27px -3px rgba(0,0,0,0.7) inset, 0px 6px 6px 0px rgba(0,0,0,0.23);
    animation: firstAnimation 3s linear both;
}

/* @keyframes firstAnimation {
    0% {
        transform: scaleY(1.5) scaleX(1.5);
    }
    100% {
        transform: scaleZ(1) scaleX(1);
    }
} */

article.postit p {
    font-size: 1.2em;
    margin-top: 1em;
}

article.postit h1 {
    font-size: 1.5em;
}



.post-1, .post-5, .post-7{
    background-color: #fbfbc9;
} 

.post-2, .post-4, .post-8{
    background-color: #badfbc;
} 
.post-3, .post-6 {
    background-color: #c2c3ec;
} 



.postit:hover {
    transform: scale(1.2);
}