@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Indie+Flower&family=Lexend:wght@300;500&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;500;600;700&family=Outfit:wght@400;700&family=Poppins:wght@300;400;500&family=Prata&family=Roboto+Condensed&family=Rubik:wght@400;500&family=Ubuntu:wght@400;500;700&family=Zilla+Slab:wght@400;600&display=swap');

main#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
}

#postit-section{
    width: 80em;
    height: 60vh;
    background-color: #666;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 1em;
}

.post-dx {
    transform: rotate(-8deg);
}

.post-sx {
    transform: rotate(8deg);
}

.postit{
    width: 21%;
    height: 36%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px -9px 27px -3px rgba(0,0,0,0.7) inset, 0px 6px 6px 0px rgba(0,0,0,0.23);
    
}

.post-1 {
    animation: firstAnimationSx 3s linear both;
}
.post-2 {
    animation: firstAnimationSx 3s linear 0.5s both;
}
.post-3 {
    animation: firstAnimationDx 3s linear 1s both;
}
.post-4 {
    animation: firstAnimationSx 3s linear 1.5s both;
}
.post-5 {
    animation: firstAnimationDx 3s linear 2s both;
}
.post-6 {
    animation: firstAnimationDx 3s linear 2.5s both;
}
.post-7 {
    animation: firstAnimationSx 3s linear 3s both;
}
.post-8 {
    animation: firstAnimationDx 3s linear 3.5s both;
}

@keyframes firstAnimationSx {
    0% {
        transform: scaleY(10) scaleX(10);
        opacity: 0;
    }
    100% {
        transform: scaleZ(1) scaleX(1);
        opacity: 1;
        transform: rotate(-8deg)
    }
}

@keyframes firstAnimationDx {
    0% {
        transform: scaleY(10) scaleX(10);
        opacity: 0;
    }
    100% {
        transform: scaleZ(1) scaleX(1);
        opacity: 1;
        transform: rotate(8deg)
    }
}

article.postit p {
    font-size: 1.8em;
    margin-top: 1em;
    text-align: center;
}

article.postit h1 {
    font-size: 2.3em;
    font-weight: bold;
}



.post-1, .post-5, .post-7{
    background-color: #fbfbc9;
} 

.post-2, .post-4, .post-8{
    background-color: #badfbc;
} 
.post-3, .post-6 {
    background-color: #c2c3ec;
} 

.postit:hover {
    transform: scale(1.2);
}